<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template1">
<head>
<meta charset="UTF-8">
<title>Votre Banque</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card m-2">
					<div class="card-header text-white bg-primary">Problème d'autorisation</div>
					<div class="card-body">
						<span class="text-danger">Vous n'avez pas le droit d'accéder à cette ressource</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>