<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Votre Banque</title>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{/css/style.css}">
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link" th:href="@{/operations}">Operations</a> 
					<a class="nav-item nav-link" th:href="@{/comptes}">Comptes</a>
					<a class="nav-item nav-link" th:href="@{/clients}">Clients</a>
				</div>
			</div>
			<div class="my-2 my-lg-0">
				<a th:href="@{/login?logout}">logout</a>
			</div>
		</nav>
	</header>
	<section layout:fragment="content"></section>
	<footer>
		<nav class="navbar fixed-bottom navbar-light bg-light">
			<small class="navbar-brand">@L'address du banque</small>
		</nav>
	</footer>
</body>
</html>